
<div class="nav">
  <div id="ttl" ><a href="#" (click)="onSelected('home')">Patient - Doctor Portal</a></div>
  <div class="navbar">
    <ul class="" style="margin-left:100px;">
      <li><a href="#" (click)="onSelected('history')"> Medical History</a></li>
      <li><a href="#" (click)="onSelected('doctor')"> View Doctors</a></li>
      <li><a href="#" (click)="onSelected('appointment')"> Book Appointment</a></li>

      <li id="login" ><a href="#" (click)="onSelected('log')">  Log-in</a></li>
  </ul>
</div>
</div>

