
<div class="nav">
  <!-- <div id="ttl" ><a  routerLink="/" >Patient - Doctor Portal</a></div> -->
  <div class="navbar">
    <ul class="">
      <li> <a id="ttl" routerLink="/" >H Care</a></li>
      <li><a  routerLinkActive="active" routerLink="/medical" > Medical History</a></li>
      <li><a routerLinkActive="active" routerLink="/doctors" > View Doctors</a></li>
      <li><a routerLinkActive="active" routerLink="/appointments" >Appointments</a></li>

      <li><a routerLinkActive="active" routerLink="/register/doctor"> Edit Doctors</a></li>
      <li><a routerLinkActive="active" routerLink="/view-appointments" >Patient Appointments</a></li>

      <li id="login" ><a routerLinkActive="active" routerLink="/login">  Log-in</a></li>
      <li id="register" ><a routerLinkActive="active" routerLink="/register/patient">  Sign-in</a></li>
    </ul>
  </div>
</div>
