*{ box-sizing: border-box;}

button {
  display: block;
  font-size: 16px;
  height: 40px;
  width: 180px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background-color: green;
  align-content: center;
}
button:hover {
  color: rgb(253, 255, 149);
  font-weight: bold;
  background-color: rgb(0, 0, 0);
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-left: 50px;
}

.grid-container{
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 10px;
  display: grid;
  border-radius: 5px;
  width: 70%;
  height: 60%;
  position: relative;
  background-image: linear-gradient(to right,rgba(142, 192, 250, 0.6),rgba(0, 255, 179, 1));
  text-decoration: none;
  color: black;
  font-weight: bold;
  box-shadow: 0 2px 4px 0 rgb(19, 14, 14), 0 6px 12px 0 rgb(124, 124, 124);
}

.title{
  grid-row: 1/2;
  text-align: center;
}
.doctor{
  grid-row: 2/3;
  padding-left: 30px;
}

.date{
  grid-row: 3/4;
  padding-left: 30px;
}

.time{
  grid-row: 4/5;
  padding-left: 30px;
}

.book{
  grid-row: 5/6;
  padding-left: 30px;
}


.box {
  display: inline-block;
}

input,select{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(2, 0, 0);
  font-size: 16px;
  width: 90%;
  color:rgb(145, 41, 84);
}

input:focus{
  background-color: rgba(249, 255, 142, 0.739);
  border-bottom: 2px solid blue;
  outline:none;
  font-size: 18px;
}
