.container {
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  margin: 30px auto;
}
.appoint {
  grid-column: 2/3;
  grid-row: 1/2;
  width:500px;
  margin: auto;
}
.list {
  grid-column: 1/2;
  margin: auto;
  grid-row: 1/2;
}

.all {
  grid-column: 3/4;
  margin: auto;
  grid-row: 1/2;
}
button {
  display: block;
  font-size: 20px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to right,rgb(84, 209, 255),rgb(3, 192, 126));
  align-content: center;
  padding: 50px;
  cursor: pointer;
  transition: transform .8s;
}

button:hover {
  font-weight: bold;
  background-image: linear-gradient(to left,rgb(2, 255, 189),rgb(128, 0, 175));
  transform: scale3d(1.1,1.1,1.1);
  color: yellow;
}
