<div class="box">
  <form class="boxin" enctype="multipart/form-data"
  [formGroup]="DoctorForm" (ngSubmit)="onSubmit()">
    <div class="title">
     <h1>Doctor Registration</h1>
    </div>

    <div class="firstname form-group">
        <label for="fname">First Name :</label>
        <input type="text" id="fname" 
        formControlName="fname" class="form-control">
      </div>
      <div class="lastname form-group">
        <label for="lname">Last Name :</label>
        <input type="text" id="lname"
        formControlName="lname" class="form-control">
    </div>
     <div class="dob form-group">
        <label for="dob">Date of Birth :</label>
        <input type="date" id="dob"
        formControlName="dob" class="form-control">
      </div>
      <div class="specialization form-group">
          <label for="specialization">Specialization :</label>
          <input type="text" id="specialization"
          formControlName="specialization" class="form-control">
      </div>
      <div class="email form-group">
        <label for="email">Email :</label>
        <input type="email" id="email"
        formControlName="email" class="form-control">
      </div>
      <div class="phone form-group">
        <label for="phone">Phone :</label>
        <input type="text" id="phone"
        formControlName="phone" class="form-control">
    </div>
    <div class="gender form-group">
        <label for="gender">Gender :</label>
        <input type="radio" id="gender" style="width:20px" name="gender" checked>Male
        <input type="radio" id="gender" style="width:20px" name="gender">Female
    </div>
     <div class="photo form-group">
        <label for="image">Photo :</label>
        <input type="file" id="image" accept="image/*"
        formControlName="image" class="form-control">
    </div>
    <div class="address form-group">
        <label for="address">Address :</label>
        <textarea type="text" id="address"
        formControlName="address" class="form-control"></textarea>
    </div>
    <div class="office form-group">
        <label for="office">Office :</label>
        <textarea type="text" id="office"
        formControlName="office" class="form-control"></textarea>
    </div>
    <br/>


    <div class="pass1 form-group">
        <label for="pass">Enter Password :</label>
        <input type="password" id="pass1"
        formControlName="pass1" class="form-control">
      </div>
      <div class="pass2 form-group">
        <label for="pass">Re-Enter Password :</label>
        <input type="password" id="pass1"
        formControlName="pass2" class="form-control">
    </div>
    <div class="signin">
      <button type="button">Sign-in</button>
    </div>

  </form>
</div>
