<div class="box">
  <div class="boxin">
    <div class="title">
     <h1>Doctor Registration</h1>
    </div>

    <div class="firstname">
        <label for="fname">First Name :</label>
        <input type="text" id="fname">
      </div>
      <div class="lastname">
        <label for="lname">Last Name :</label>
        <input type="text" id="lname">
    </div>
     <div class="dob">
        <label for="dob">Date of Birth :</label>
        <input type="date" id="dob">
      </div> 
      <div class="specialization">
          <label for="specialization">Specialization :</label>
          <input type="text" id="specialization">
      </div>
      <div class="email">
        <label for="email">Email :</label>
        <input type="email" id="email">
      </div>
      <div class="phone">
        <label for="phone">Phone :</label>
        <input type="text" id="phone">
    </div>
    <div class="gender">
        <label for="gender">Gender :</label>
        <input type="radio" id="gender" style="width:20px" name="gender" checked>Male
        <input type="radio" id="gender" style="width:20px" name="gender">Female
    </div>
     <div class="photo">
        <label for="image">Photo :</label>
        <input type="file" id="image" accept="image/*">
    </div>
    <div class="address">
        <label for="address">Address :</label>
        <textarea type="text" id="address"></textarea>
    </div>
    <div class="office">
        <label for="office">Office :</label>
        <textarea type="text" id="office"></textarea>
    </div>
    <br/>
    

    <div class="pass1">
        <label for="pass">Enter Password :</label>
        <input type="password" id="pass1">
      </div>
      <div class="pass2">
        <label for="pass">Re-Enter Password :</label>
        <input type="password" id="pass1">
    </div>
    <div class="signin">
      <button type="button">Sign-in</button>
    </div>

  </div>
</div>
