
<div class="main" style="padding-top:5ppp0px">
      <div class="tabs">
          <div class="elements">
                  <img src="" alt="Medical Hiistory"  />
                  <div>
                      <h2>Medical History</h2>
                  </div>
              </div>

              <div class="elements">
                  <img src="" alt="Medical Hiistory"  />
                  <div>
                      <h2> View Doctors</h2>
                  </div>
              </div>

              <div class="elements">
                  <img src="" alt="Medical Hiistory"  />
                  <div>
                      <h2>Book Appointment</h2>
                  </div>
              </div>

              <div class="elements">
                  <img src="" alt="Medical Hiistory"  />
                  <div>
                      <h2>Edit Details</h2>
                  </div>
              </div>
      </div>


  </div>
