<div class="grid-container">
  <div class="doc-list">
      <app-doctor-list></app-doctor-list>
  </div>

  <div class="content">
    <div class="details">
    <router-outlet></router-outlet>
  <ng-template #infotext>
    <h1 >Please select a doctor</h1>
  </ng-template>
  </div>

  <div class="filter">
    <label>Filter by specialization:</label>
    <select>
        <option value="cardio">Cardiologist</option>
        <option value="surgeon">Surgeon</option>
    </select>
    <button type="button">Filter</button>
</div>
</div>
</div>
