.list-container{
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: rgba(190, 245, 248, 0.537);
  width: 400px;
}
h1{
  text-align: center;
  background-color: rgb(3, 3, 3);
  color: azure;
  margin: 0px;
  width: 400px;
  max-width: 450px;
  border-radius: 5px 5px 0px 0px;

}
.list{
  padding: 0px 20px;
  border-radius: 0px 0px 0px 5px;
  width: 350px;
  height: 450px;
  overflow: auto;
  border-width: 0px 5px 5px 5px;
  border-style: outset;
  border-color: black;
  cursor: pointer;
}
.search{
  border: 2px solid black;
  background-color: grey;
}
.search input{
  padding-left: 20px;
  margin:5px 15px;
  border-radius: 5px;
  color: rgb(173, 173, 142);
  font-weight: bold;
  width:60%;
}

button{
  border-radius: 50px;
  background-color: rgb(3, 2, 7);
  color: navajowhite;
  height: 30px;
  width: 80px;
}

